
body{
    background: #eaeaea;
    overflow: hidden;
} 

.container{
    position: absolute;
    top: 50%;
    left:50%;
     transform: translate(-50%, -50%); 
    width: 1300px;
    height: 650px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item{
    width: 200px;
    height: 300px;
    position: absolute; 
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

  .slide .item:nth-child(1){    
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 20px;
    width: 100%;
    height: 100dvh;}
.text{
   width: 200px;
    height: 150px;
    word-break: break-all;
    color: white;
    backdrop-filter: blur(10px); 
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
}
 .text2{
    width: 200px;
    height: 150px;
    word-break: break-all;
    color: white;
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    align-items: center;
   border-radius: 20px;
   gap: 20px;

 }
 

.button
{
    display: flex;
    align-items: end;
     gap: 40px;/*
    padding-left: 40%;
    padding-top: 35px; */
    color: white;
}
.btn1{
  width: 90px;
  height: 30px;
  border: solid 1px ;
  border-radius: 20px;
 padding-bottom: 0px;
  text-align: center;

}

.btn2{
    width: 90px;
    height: 30px;
    border: solid 1px ;
    border-radius: 20px;
   text-align: center;
 padding-bottom: 0px;
    
  }
  
.btn3{
    width: 90px;
    height: 30px;
    border: solid 1px ;
    border-radius: 20px;
text-align: center;
 padding-bottom: 0px;
    
  }
  
.btn4{
    width: 90px;
    height: 30px;
    border: solid 1px ;
    border-radius: 20px;
    text-align: center;
 padding-bottom: 0px;
}
.item>.text1
{
 
display: flex;
flex-direction: column;
    align-items: end;
    justify-content: center;
     height: 540px; 
    padding-right: 25px;

} 
.item>.button{
    display: flex;
    justify-content:end;
    align-items: end;
    margin-right: 200px;
}

.shualedi{
    height: 15px;
}
.item>.kutxe{
    display: flex;
    justify-content: center;
    width:200px;
    height: 60px; 
    border-radius: 50px;
    background-color: #505050;
    margin-left: 1100px;
}
 
.btn>div{
    width: 200px;
    height:60px ;
box-shadow: 10px 14px 20px black;
border-radius: 10px;
position: relative;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.btn>div::before{
    content: "";
    background-image: conic-gradient(#ff0000 20deg, transparent 120deg);
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
}
.btn>div::after{
    content: "Animation";
    width: 193px;
    height: 55px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content:center ;
    align-items: center;
    color: #ff0052;
    font-size: 20px;
    letter-spacing: 0;
    box-shadow: 10px 5px 20px #101010;

}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }   
    100%{ 
         transform: rotate(360deg);     
        }
    
} 
